# build file & binfile
*.exe
build/
tmp/

#static file
public/

#test file
test*

# mock data
*.db
data/

# log file
*.log

# IDE config
.idea/
.vscode/

# golang dependences
*.sum

# dev tools
air.toml