# build file & binfile
*.exe
*.dll
*.def
build/
dist/
tmp/

#static file
public/

#test file
test*

# mock data
*.db
videos/

# log file
*.log

# IDE config
.idea/
.vscode/

# golang dependences
*.sum
vendor/