.event-recorder {
  height: 100%;

  .children-card {
    margin: 0 10px;

    .event-button {
      margin: 4px 0;
      text-align: left;
    }
  }

  .ant-list-item-meta {
    margin-bottom: 0;
  }

}

.description-input {
  margin-top: 10px;
}

.staging-list {
  .event-code-description-list {
    margin-bottom: 0;
  }

  .description-icon {
    margin: 0 5px 0 20px;
  }

  .ant-list-item-action {
    text-align: right;
    margin-top: 5px;
  }
}
