.ant-layout-header {
  height: 3rem;
  padding: 0 0;

  .logo-wrap {
    display: inline-block;
    float: left;
    line-height: 3rem;
    margin-top: -2px;

    .logo {
      height: 2.5rem;
    }
  }

  .name-wrap {
    font-size: 18px;
    line-height: 3rem;
    font-weight: bold;
    margin: 0 1rem;
    vertical-align: middle;
    color: #fff;
  }

  .menu-wrap {
    //line-height: 60px;
  }
}
