.App {
  height: 100%;
  .layout {
    height: 100%;
    .content {
      padding: 40px 50px 5px;
      min-height: 280px;
      height: 100%;
      .main{
        height: 100%;
        flex: 1;
        overflow: auto;
      }

      .card-wrap{
        margin: 5px;
      }
    }
    .footer {
      text-align: center;
    }
  }
}
