.options-wrap {
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .video-list-select {
    width: 100%;
  }

  .date-pick {
    width: 100% !important;
    max-width: 280px !important;
  }

  .statistic-value-wrap {
    .ant-statistic-content {
      font-size: 18px;
    }
  }

  .playback-rate-icon {
    margin-right: 10px;
    font-size: 18px;
  }

  .playback-rate-input {
    width: 100% - 36px;
  }
}

.player {
  margin: auto;
}

.video-event-recorder-wrap {
  height: calc(100% - 40vh - 64px);
}

.video-editor-item {
  margin-bottom: 10px;

  .video-editor-label {
    width: 22%;
    text-align: right;
    margin-right: 5px;
    display: inline-block;
  }

  .video-editor-input {
    display: inline-block;
    width: 75%;
  }

  .video-editor-radio {
    display: inline-block;
    text-align: center;
    width: 76%;
  }

  .video-editor-status {
    margin-left: 2px;
    display: inline-block;
    width: 74%;

    .last-step {
      .ant-steps-item-content {
        min-height: 0;
      }
    }
  }
}

.ant-select-dropdown {
  width: 350px !important;
}