.options-wrap {
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .video-list-select {
    width: 100%;
  }

  .date-pick {
    width: 100% !important;
    max-width: 280px !important;
  }

  .statistic-value-wrap {
    .ant-statistic-content {
      font-size: 18px;
    }
  }

  .playback-rate-icon {
    margin-right: 10px;
    font-size: 18px;
  }

  .playback-rate-input {
    width: 60px;
  }
}

.player {
  margin: auto;
}

.video-event-recorder-wrap {
  height: calc(100% - 40vh - 64px);
}

.drawer-item {
  margin-bottom: 10px;

  .drawer-label {
    width: 22%;
    text-align: right;
    margin-right: 5px;
    display: inline-block;
  }

  .drawer-input {
    display: inline-block;
    width: 75%;
  }

  .drawer-radio {
    display: inline-block;
    text-align: center;
    width: 76%;
  }
}